@font-face {
    font-family: "FjallaOne";
    src: url(../fonts/FjallaOne-Regular.ttf);
}
@font-face {
    font-family: "WorkSans";
    src: url(../fonts/WorkSans-Regular.ttf);
}

h1 {
    font-family: "FjallaOne";
}
body{
    font-family: "WorkSans";
}